<!-- <nav>
    <ul>
        <img src="{{ url_for('static',filename='images/logistica_logo-1.png') }}" alt="logistica_logo-1">
        <li><a href="{{ url_for('index') }}">Ir a Inicio</a></li>
        <li><a href="http://google.com" target="_blank">Ir a google</a></li>
    </ul>
</nav> -->

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static',filename='images/logistica_logo-1.jpg') }}" style="max-width: 65px" alt="logistica_logo-1">
            </a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Ir a Inicio</a></li>
                <li><a href="http://google.com" target="_blank">Ir a google</a></li>
            </ul>
        </div>
    </div>
</div>